<%- include ./partials/header %>
<head>
    <link rel="stylesheet" href="../stylesheets/commentview.css">
</head>

<body>
	<div class="imageContainer">
		<img src=<%=imageUrls%> id="picture" class="user-images image-styler items" alt="Image" value="<%=userId%>">
		<div><%=likeId%></div>
		<div id="comments">
			<button id="like-btn" value="<%=imageId%>"><img src="../images/like.jpg" alt="Like Button" class="like-button-sizer"></button>
			<button id='addComment'>Add Comment</button>
		</div>
		<form method="POST" action="/addComment/<%=imageId%>">

			<% for (var i = 0; i < commentId[0].length; i++) { %>
				<div><%=commentId[0][i].dataValues.text%></div>
			<% } %>
			<input type="text" name="newComment" id='new-comment' placeholder="Please enter a comment"><button id="submit">Submit</button>
		</form>
	</div>

	<div class="newsfeedBackground"></div>
	
	<script type="text/javascript" src="../js/like.js"></script>

</body>
</html>