<%- include ./partials/header %>
<head>
    <link rel="stylesheet" href="../stylesheets/newsfeed.css">
</head>

<body>
	<%if(imageData !== undefined) {%>
		<% for (var i = imageData.length - 1; i >= 0; i--) { %>
			<div class="imageContainer">
          		<div class="username u-style"> Uploaded By <%= imageData[i].username%></div>
          		<a href=<%="/addComment/" + imageData[i].id%>><img id=<%=imageData[i].id%> src=<%= imageData[i].url%> class="user-images image-styler items" alt="Image"></a>
			</div>
		<% } %>
	       
	<% } else {%>
	    <h1>Upload and Image!!!</h1>
	<% } %>
	
	<div class="newsfeedBackground"></div>

	<script src="../js/newsfeed.js" type="text/javascript" charset="utf-8"></script>

</body>
